.container {

}

.infoBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    font-size: 14px;
    font-weight: 500;
}

.error {
    color: rgb(225,85,106);
    font-size: 14px;
    font-weight: 600;
}

.inputError {
    width: calc(100% - 32px);
    font-family: 'Ubuntu';
    font-size: 17px;
    font-weight: 500;
    color: rgb(11,46,92);
    padding: 15px;
    border: 1px solid rgb(225,85,106);
    border-radius: 7px;
}

.inputError:focus {
    outline: 0;
}

.input {
    width: calc(100% - 32px);
    font-family: 'Ubuntu';
    font-size: 17px;
    font-weight: 500;
    color: rgb(11,46,92);
    padding: 15px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 7px;
}

.input:hover {
    border-color: rgba(83, 77, 149, 0.5);
}

.input:focus {
    border-color: rgba(83, 77, 149, 1);
    outline: 0;
}
